body {
 
  background-color: #FED3Be;
  color: #3a3846;
  font-size: 20px;
}

header {

  background-color: #639a88;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  display: inline-flex;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  display: inline-flex;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  display: inline-flex;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  display: inline-flex;
}

p1 {
  margin-top: auto;
  padding: 3rem;
  font-size: 20px;
}

p2 {
  margin-top: auto;
  padding: 3rem;
  font-size: 20px;
}

p3 {
  margin-top: auto;
  padding: 3rem;
  font-size: 20px;
}

li {
  font-family: 'Montserrat', sans-serif;
}
o {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 500px;

  padding: 1rem;
}



p {
font-style: italic;
font-size: 25px;
}

p:hover {
color: #BB8998;
}

.navbar {
width: 90%;
margin: 0;
}

nav {
  background-color: #639A88;

}


nav a {
float: left;
text-align: center;
padding: 10px 15px;
font-size: 25px;
}

nav ul {
margin: 0;
padding: 2;

}

nav li {
display: inline-block;
margin: 10px;
padding-top: 2;
}